.item {
    li {
        a {
            color: white;
        }
    }
}

.item {
    li {
        display: inline;
    }
}

.item {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    justify-content: center;
}

.middle {
    overflow: hidden;
    width: 450px;
    border: 1px solid black;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.so_link li {
    display: inline;
    list-style: none;
}

.card-content {
    margin: 0.3rem auto !important; // max-height: 185px;
}

.container {
    .row {
        display: flex;
        justify-content: space-between;
    }
}

.info {
    position: absolute;
    bottom: 0.2rem;
    padding-left: 1rem;
    font-weight: bold;
    padding-right: 1rem;
    background: black;
}

.movie-info {
    img {
        height: 100%;
        width: 100%;
    }
}

.custom_bg {
    background-color: lightslategray;
}

.title h2 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
}

.images_inner {
    display: flex;
}

.release_date {
    opacity: 0.6;
    font-size: 1.7em;
}

.auto_actions {
    margin-bottom: 30px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.auto_actions {
    .chart {
        display: flex;
    }
}

.header_poster {
    padding-left: 40px;
}

.people_no_image {
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin-left: -128px;
}

.people_no_image {
    p {
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.nav {
    a {
        color: white;
    }
}